<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="consumer-ask-piyao" owner="ask39piyao" organization="ask39piyao"/>
    <!--zookeeper注册中心-->
    <dubbo:registry protocol="zookeeper" address="@zookeeper.address@"/>

    <!--医生接口-->
    <dubbo:reference interface="com.ask39.api.doctor.DoctorService"
                     id="doctorServiceDubbo"
                     timeout="100000"
                     protocol="dubbo"
                     check="false"/>

    <dubbo:reference interface="net.health.service.interfaces.topic.TopicsService"
                     id="esTopicService"
                     protocol="dubbo"
                     url="@dubbo.es.service@"
                     timeout="100000"/>

    <dubbo:reference interface="com.ask39.api.ad.AdService"
                     protocol="dubbo"
                     timeout="100000"
                     retries="0"
                     id="adServiceDubbo"
                     check="false"/>

    <dubbo:reference id="userServiceDubbo"
                     protocol="dubbo"
                     interface="com.ask39.api.user.UserService"
                     timeout="100000"
                     check="false"/>
</beans>